body {
  padding: 0;
  margin: 0;
  background: #eee;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #565656;
  text-decoration: underline;
}

.positive-fx {
  position: fixed;
}

.positive-re {
  position: relative;
}

#contert {
  width: 100%;
  height: auto;
}
