@font-face {
  font-family: "iconfont";
  src: url("../font/iconfont.eot");
  /* IE9*/
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg");
  /* iOS 4.1- */
}
body {
  padding: 0;
  margin: 0;
  background: #eee;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover {
  color: #565656;
  text-decoration: underline;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canshuguanli:before {
  content: "\e625";
}

.positive-fx {
  position: fixed;
}

.positive-re {
  position: relative;
}

#contert {
  width: 100%;
  height: auto;
}

#side-fixed {
  width: 60px;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 100px;
  top: 50px;
}
#side-fixed i {
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  line-height: 60px;
  display: inline-block;
}
